#joystick-container{
    background-color:   whitesmoke;
    display: flex;
}

#wire{
    position: absolute;
    height: 10vh;
    width: 10px;
    left: 50%;
    background-color: black;
    box-shadow: inset 1px -10px 10px rgb(109, 109, 109);
    
}
#joystick{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    

}

#joystick svg{
    z-index: 100;
    height: 90%;
    width: 90%;
    filter: drop-shadow(0px 10px 10px #31213077) drop-shadow(0px -2px 5px #31213077);
    

}

@media (min-width: 500px){
    #joystick svg{
        padding-top: 30px;
    }
}
.exit-buttons, .next-proj-button, .prev-proj-button{
    fill: #502a66;
}

.exit-buttons:hover{
    cursor: pointer;
    fill:black;
}

@keyframes blinkButtons  {
    from{
        fill: #0b0111;
    }
    to{
        fill: #502a66;
    }
}

.blink-button{
    animation: blinkButtons 0.7s linear forwards infinite;
}

.next-proj-button:hover, .prev-proj-button:hover{
    animation: none;
    cursor: pointer;
    fill:black;
    height: 14%;
}