#monitor-wrapper{
    background-color: #80567C;
    padding: 10px 10px 0px 10px;
    
}
#monitor{
    height: 70vh;
    background-color: rgb(31, 31, 31);
    border: 30px solid black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
    width: 100%;
   /* display: flex;
   justify-content: center;
   flex-direction: column;
   text-align: center;
   align-items: space-around; */
   font-family: 'arcadeClassic', monospace;

}

@media(min-width:500px ){
    #monitor-wrapper{
        padding: 30px 30px 0px 30px;
    }
}

.fadeIn{
    animation : fadeIn ease 2s;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.monitorTitle{
    margin-top: 20px;
    color: gainsboro;
    font-size: clamp(12px, 3vw, 10px);;
    text-align: center;
    
}



.monitorInfo{
    z-index: 100;
   text-align: center;
    
}
.monitorInfo a, .monitorInfo a:hover{
    color: white;
}

.monitorContent{
    margin: 10px 0px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}