.contact-container{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.arcade-font{
    font-family: 'arcadeClassic', monospace;
}

.contact-header-container{
    padding: 0 10% 0 10%;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1.8fr;
    font-family: monospace;
    
}   

.contact-left-column, .contact-right-column{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
#contact-title{
    font-size: 70px;
}

#contact-text{
    margin-top: 5%;
    font-size:max(2vw,16px);
}

.contact-options{
    margin-top: 5%;
}

.contact-right-column a{
    color: #80567C;
    font-size:max(2vw,30px);
    margin-left: 10px;
}

