
#logo{
    height: 90%;
    width: 90%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

@media(min-width:1200px){
    #logo{
        margin-top: 50px;
        height: 70%;
        width: 70%;
    }
}

/*B*/
#logo path:nth-child(5){
    stroke-dasharray: 736.35px;
    stroke-dashoffset: 736.35px;
    --strokeColor: gainsboro;
    --fillColor: black;
    animation: drawLineAnim 1.5s ease forwards, changeStrokeColor 2.5s ease forwards 2.5s  ;  
}
/*A*/
#logo path:nth-child(4){
    stroke-dasharray: 540.72px;
    stroke-dashoffset: 540.72px;
    --strokeColor: gainsboro;
    --fillColor: black;
    animation: drawLineAnim 1.5s ease forwards 0.3s, changeStrokeColor 2.5s ease forwards 2.5s ;   
}
/*S*/
#logo path:nth-child(3){
    stroke-dasharray: 602.78px;
    stroke-dashoffset: 602.78px;
    --strokeColor: gainsboro;
    --fillColor: black;
    animation: drawLineAnim 1.5s ease forwards 0.6s, changeStrokeColor 2.5s ease forwards 2.5s;
}
/* T  */
#logo path:nth-child(2){
    stroke-dasharray: 377.15px;
    stroke-dashoffset: 377.15px;
    --strokeColor: gainsboro;
    --fillColor: black;
    animation: drawLineAnim 1.5s ease forwards 0.9s, changeStrokeColor 2.5s ease forwards 2.5s;
}
/* O */
#logo path:nth-child(1){
    stroke-dasharray: 626.84px;
    stroke-dashoffset: 626.84px;
    --strokeColor: gainsboro;
    --fillColor: black;
    animation: drawLineAnim 1.5s ease forwards 1.2s, changeStrokeColor 2.5s ease forwards 2.5s;  
}

/* #6F0172 */

@keyframes drawLineAnim{
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes changeStrokeColor{
    from{
        fill: transparent;
    }

    to{
        fill: var(--fillColor);
        stroke: var(--strokeColor);
    }
}

